In [1]:
import pandas as pd
import numpy as np

# Обработка данных

## Загрузка данных

In [2]:
train_df = pd.read_csv('data/train.csv', delimiter=',')
cntrbtrs = pd.read_csv('data/cntrbtrs.csv', delimiter=';')
trnsctns = pd.read_csv('data/trnsctns.csv', delimiter=';')

In [3]:
from IPython.display import display

display(train_df.head(5))
display(trnsctns.head(5))
display(cntrbtrs.head(5))

,slctn_nmbr,client_id,npo_account_id,npo_accnts_nmbr,pmnts_type,year,quarter,gender,age,clnt_cprtn_time_d,...,lk,assignee_npo,assignee_ops,postal_code,region,citizen,fact_addrss,appl_mrkr,evry_qrtr_pmnt,churn
0,1,0xA095932790098744A2325A8D152C05C7,0xD4DBBAC6561929409BA45725A220613E,1,2,2017,2017Q4,1,48,8091,...,-1,-1,-1,446254.0,САМАРСКАЯ ОБЛ,-1,-1,0,0,0
1,0,0xF75BAA20A603A2479005DEB80464336E,0x3DCFF11974B3D8458CE3569DE9E855D5,2,2,2009,2009Q1,1,35,3303,...,-1,-1,-1,399841.0,ЛИПЕЦКАЯ ОБЛ,-1,1,0,1,0
2,2,0x0D18081E0556AF4F95A931FBA4159D52,0x9DADF88CB3407C4E89403315F640393E,1,1,2010,2010Q1,1,47,1163,...,-1,-1,-1,302038.0,ОРЛОВСКАЯ ОБЛ,1,1,0,1,0
3,0,0x0AD72BC5475D9A4D83E12350A84F839D,0xF59C4E62F115684899EAE9B5D5ECF70F,1,1,2005,2005Q4,-1,42,47,...,-1,-1,-1,620034.0,СВЕРДЛОВСКАЯ ОБЛ,1,1,0,1,0
4,0,0x73DF06339CC25840838408BAD52BE223,0x35BFFA05321C014B9FC29A189E89EDF0,2,2,2007,2007Q4,1,42,876,...,-1,-1,-1,398035.0,ЛИПЕЦКАЯ ОБЛ,1,1,0,1,0

,slctn_nmbr,npo_account_id,npo_sum,npo_oprtn_date,npo_oprtn_grp,quarter,year
0,2,0x555990CC98CCF8469BE5911D37811A4A,57.72,2000-01-02,0,2000Q1,2000
1,2,0x555990CC98CCF8469BE5911D37811A4A,288.61,2000-01-03,0,2000Q1,2000
2,2,0x555990CC98CCF8469BE5911D37811A4A,78.04,2000-01-16,1,2000Q1,2000
3,2,0x555990CC98CCF8469BE5911D37811A4A,78.04,2000-02-15,1,2000Q1,2000
4,2,0x555990CC98CCF8469BE5911D37811A4A,85.36,2000-03-16,1,2000Q1,2000

   slctn_nmbr                        npo_accnt_id  accnt_pnsn_schm
0           2  0x66FC8B311E1E204187F41966B73E313F              0.0
1           2  0x675F74AFB447EF40AF1E4C042CCA440C              0.0
2           2  0x6FFA52921209184BA47B1E919B713894              0.0
3           2  0xB51B4374207FE0458B29FD1F9CBF69EB              1.0
4           2  0x7AC3935CC4DADE419F8378B9C276DEF7              2.0