In [2]:
import pandas as pd
import numpy as np

# Обработка данных

## Загрузка данных

In [3]:
train_df = pd.read_csv('data/train.csv', delimiter=',')
cntrbtrs = pd.read_csv('data/cntrbtrs.csv', delimiter=';')
# trnsctns = pd.read_csv('data/trnsctns.csv', delimiter=';')

In [4]:
from IPython.display import display

display(train_df.head(7).T)
# display(trnsctns.head(7))
display(cntrbtrs.head(7))

,0,1,2,3,4,5,6
slctn_nmbr,1,0,2,0,0,1,0
client_id,0xA095932790098744A2325A8D152C05C7,0xF75BAA20A603A2479005DEB80464336E,0x0D18081E0556AF4F95A931FBA4159D52,0x0AD72BC5475D9A4D83E12350A84F839D,0x73DF06339CC25840838408BAD52BE223,0x092BC8229C2770459A87E35C754892E0,0x4768BFF110D93941963C2379F667A77E
npo_account_id,0xD4DBBAC6561929409BA45725A220613E,0x3DCFF11974B3D8458CE3569DE9E855D5,0x9DADF88CB3407C4E89403315F640393E,0xF59C4E62F115684899EAE9B5D5ECF70F,0x35BFFA05321C014B9FC29A189E89EDF0,0x55B01C14C2640948A54F2F3A0FB715A1,0x36C2EC983556E443817033C4032D7BA8
npo_accnts_nmbr,1,2,1,1,2,1,1
pmnts_type,2,2,1,1,2,2,2
year,2017,2009,2010,2005,2007,2007,2004
quarter,2017Q4,2009Q1,2010Q1,2005Q4,2007Q4,2007Q3,2004Q4
gender,1,1,1,-1,1,-1,-1
age,48,35,47,42,42,50,29
clnt_cprtn_time_d,8091,3303,1163,47,876,3536,2031
actv_prd_d,0,1531,1121,0,853,0,0
lst_pmnt_rcnc_d,6757,34,34,0,30,638,0
balance,679.37,36395.87,5569.85,81.37,6937.65,24040.31,12425.24
oprtn_sum_per_qrtr,31.34,1457.59,463.41,81.37,794.36,277.85,12425.24
oprtn_sum_per_year,31.34,8037.71,1953.0,81.37,3165.98,215.87,12425.24
frst_pmnt_date,1999-07-02,2004-12-31,2007-02-20,2005-12-29,2005-08-08,2006-01-01,2004-12-31
lst_pmnt_date_per_qrtr,NaN,2009-03-11,2010-03-17,2005-12-29,2007-12-09,NaN,2004-12-31
frst_pmnt,96.25,9823.67,154.47,81.3,198.14,22107.41,9166.35
lst_pmnt,0.09,607.4,154.47,81.3,26.04,22107.41,7.06
pmnts_sum,96.25,28402.25,5406.5,81.3,6668.74,22107.41,9166.35
pmnts_nmbr,1,52,35,1,26,2,1
pmnts_sum_per_qrtr,-0.0,1457.58,463.41,81.3,794.35,-0.0,9166.35
pmnts_sum_per_year,-0.0,5474.56,1699.18,81.3,3165.97,-0.0,9166.35
pmnts_nmbr_per_qrtr,0,3,3,1,3,0,1
pmnts_nmbr_per_year,0,12,11,1,11,0,1
incm_sum,583.12,7993.61,163.35,0.06,268.91,1932.89,3258.88
incm_per_qrtr,31.34,-0.0,-0.0,0.06,-0.0,277.85,3258.88
incm_per_year,31.34,2563.14,253.81,0.06,-0.0,1158.96,3258.88
mgd_accum_period,1.8,0.0,0.1,4.0,0.0,3.0,0.0
mgd_payment_period,1.8,0.0,0.1,4.0,0.0,3.0,0.0
phone_number,0,-1,-1,-1,-1,0,-1
email,0,0,-1,0,0,0,0
lk,-1,-1,-1,-1,-1,-1,-1
assignee_npo,-1,-1,-1,-1,-1,-1,-1
assignee_ops,-1,-1,-1,-1,-1,-1,-1
postal_code,446254.0,399841.0,302038.0,620034.0,398035.0,603093.0,398041.0
region,САМАРСКАЯ ОБЛ,ЛИПЕЦКАЯ ОБЛ,ОРЛОВСКАЯ ОБЛ,СВЕРДЛОВСКАЯ ОБЛ,ЛИПЕЦКАЯ ОБЛ,НИЖЕГОРОДСКАЯ ОБЛ,ЛИПЕЦКАЯ ОБЛ
citizen,-1,-1,1,1,1,1,1
fact_addrss,-1,1,1,1,1,-1,1
appl_mrkr,0,0,0,0,0,0,0
evry_qrtr_pmnt,0,1,1,1,1,0,0
churn,0,0,0,0,0,0,0

   slctn_nmbr                        npo_accnt_id  accnt_pnsn_schm
0           2  0x66FC8B311E1E204187F41966B73E313F              0.0
1           2  0x675F74AFB447EF40AF1E4C042CCA440C              0.0
2           2  0x6FFA52921209184BA47B1E919B713894              0.0
3           2  0xB51B4374207FE0458B29FD1F9CBF69EB              1.0
4           2  0x7AC3935CC4DADE419F8378B9C276DEF7              2.0
5           2  0xE1E067B53D11184CA8A5268A04E26128              3.0
6           2  0xB71656505FEF9E4FAF0270CF8DFB1AAB              0.0

## Просмотр данных

In [5]:
display(train_df.info())
# display(trnsctns.info())
display(cntrbtrs.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3589918 entries, 0 to 3589917
Data columns (total 42 columns):
 #   Column                  Dtype
---  ------                  -----
 0   slctn_nmbr              int64
 1   client_id               object
 2   npo_account_id          object
 3   npo_accnts_nmbr         int64
 4   pmnts_type              int64
 5   year                    int64
 6   quarter                 object
 7   gender                  int64
 8   age                     int64
 9   clnt_cprtn_time_d       int64
 10  actv_prd_d              int64
 11  lst_pmnt_rcnc_d         int64
 12  balance                 float64
 13  oprtn_sum_per_qrtr      float64
 14  oprtn_sum_per_year      float64
 15  frst_pmnt_date          object
 16  lst_pmnt_date_per_qrtr  object
 17  frst_pmnt               float64
 18  lst_pmnt                float64
 19  pmnts_sum               float64
 20  pmnts_nmbr              int64
 21  pmnts_sum_per_qrtr      float64
 22  pmnts_sum_per_year      float64
 23  pmnts_nmbr_per_qrtr     int64
 24  pmnts_nmbr_per_year     int64
 25  incm_sum                float64
 26  incm_per_qrtr           float64
 27  incm_per_year           float64
 28  mgd_accum_period        float64
 29  mgd_payment_period      float64
 30  phone_number            int64
 31  email                   int64
 32  lk                      int64
 33  assignee_npo            int64
 34  assignee_ops            int64
 35  postal_code             float64
 36  region                  object
 37  citizen                 int64
 38  fact_addrss             int64
 39  appl_mrkr               int64
 40  evry_qrtr_pmnt          int64
 41  churn                   int64
dtypes: float64(14), int64(22), object(6)
memory usage: 1.1+ GB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911470 entries, 0 to 911469
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   slctn_nmbr       911470 non-null  int64
 1   npo_accnt_id     911470 non-null  object
 2   accnt_pnsn_schm  911172 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 20.9+ MB

None

## Обработка пропущенных данных

### Контрибуьютеры

In [24]:
cntrbtrs.loc[~cntrbtrs['accnt_pnsn_schm'].notna()]

        slctn_nmbr                        npo_accnt_id  accnt_pnsn_schm
48137            2  0x80D2005056AB16F911E6B94244A21118              NaN
98139            2  0x80D2005056AB16F911E6B9427B09F913              NaN
101968           2  0x80D2005056AB16F911E6B94CD47B13FA              NaN
105385           2  0x50F03AE3BFCC3E429C71EAD8F872EE0C              NaN
106835           2  0x80D2005056AB16F911E6B94D433AC86D              NaN
...            ...                                 ...              ...
284667           1  0x521B2264D5D1A34C8237B62B6BCD73C1              NaN
285010           1  0x172D33AE68EA8541B3AF1A2CEEBCC2BD              NaN
285034           1  0x97C4B5F299C4DA4CBB2CDC67BCCDEB82              NaN
285086           1  0x8C3459F0572FB04AA874473FC85E53BC              NaN
845823           3  0x9EC49F255267D87541EF821895789A73              NaN

[298 rows x 3 columns]

In [25]:
cntrbtrs.fillna(cntrbtrs['accnt_pnsn_schm'].median(), inplace=True)

In [26]:
cntrbtrs.loc[~cntrbtrs['accnt_pnsn_schm'].notna()]

Empty DataFrame
Columns: [slctn_nmbr, npo_accnt_id, accnt_pnsn_schm]
Index: []

In [27]:
cntrbtrs['accnt_pnsn_schm'] = cntrbtrs['accnt_pnsn_schm'].astype(int)

### Train.csv

Пустые столбцы:
- frst_pmnt_date
- lst_pmnt_date_per_qrtr
- postal_code
- region

Удалим строки где нет frst_pmnt_date и lst_pmnt_date_per_qrtr

In [14]:
inds = train_df.loc[train_df['frst_pmnt_date'].isnull() & train_df['lst_pmnt_date_per_qrtr'].isnull()].index
train_df = train_df.drop(index=inds)

Все строки без первой датой взноса удалились

In [26]:
train_df.loc[train_df['actv_prd_d'] == 0 & train_df['lst_pmnt_date_per_qrtr'].isnull()]

,slctn_nmbr,client_id,npo_account_id,npo_accnts_nmbr,pmnts_type,year,quarter,gender,age,clnt_cprtn_time_d,...,lk,assignee_npo,assignee_ops,postal_code,region,citizen,fact_addrss,appl_mrkr,evry_qrtr_pmnt,churn
0,1,0xA095932790098744A2325A8D152C05C7,0xD4DBBAC6561929409BA45725A220613E,1,2,2017,2017Q4,1,48,8091,...,-1,-1,-1,446254.0,САМАРСКАЯ ОБЛ,-1,-1,0,0,0
3,0,0x0AD72BC5475D9A4D83E12350A84F839D,0xF59C4E62F115684899EAE9B5D5ECF70F,1,1,2005,2005Q4,-1,42,47,...,-1,-1,-1,620034.0,СВЕРДЛОВСКАЯ ОБЛ,1,1,0,1,0
5,1,0x092BC8229C2770459A87E35C754892E0,0x55B01C14C2640948A54F2F3A0FB715A1,1,2,2007,2007Q3,-1,50,3536,...,-1,-1,-1,603093.0,НИЖЕГОРОДСКАЯ ОБЛ,1,-1,0,0,0
6,0,0x4768BFF110D93941963C2379F667A77E,0x36C2EC983556E443817033C4032D7BA8,1,2,2004,2004Q4,-1,29,2031,...,-1,-1,-1,398041.0,ЛИПЕЦКАЯ ОБЛ,1,1,0,0,0
14,2,0x2476F0F102543147B000A73BA0A4D11B,0x4EA96F95093551428215F7AB1A155D26,1,2,2012,2012Q4,-1,27,3112,...,-1,-1,-1,162604.0,ВОЛОГОДСКАЯ ОБЛ,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3589885,0,0xE8C862710ECC3E498A37911BC3AF6C48,0x5C2BE1FA8C4CB746BB538F670A2524D2,1,3,2021,2021Q4,-1,52,857,...,-1,-1,-1,410003.0,САРАТОВСКАЯ ОБЛ,1,1,0,0,0
3589894,2,0x3C053384CDC0AD4692E18DC97E8034F3,0xE52E059F46CEC34DBB71DD2A3D6322D1,1,2,2014,2014Q4,-1,40,4966,...,-1,-1,-1,162600.0,ВОЛОГОДСКАЯ ОБЛ,1,-1,0,0,0
3589910,2,0x36D7873374F8EF4B9992E46AD2CA438C,0x06B8AE5D9CDB8149B90237DDA02672B4,1,2,2007,2007Q4,1,31,1616,...,-1,-1,-1,162612.0,ВОЛОГОДСКАЯ ОБЛ,1,1,0,0,0
3589916,1,0xF7C3ABC2295CC140A3B7EA53CB9B39DF,0xBB31CAEA5AF97C418942F2B68341D992,1,2,1999,1999Q1,-1,41,611,...,-1,-1,-1,249130.0,КАЛУЖСКАЯ ОБЛ,-1,-1,0,0,0
3589917,1,0x8E93810E0FF1594D979109FCDC8714F2,0xD0A0F128094EEA4686B35F70B152B42B,1,2,2010,2010Q1,-1,16,4607,...,-1,-1,-1,393131.0,ТАМБОВСКАЯ ОБЛ,-1,-1,0,0,0

Заполним нулевые значения actv_prd_d медианым значением и рассчитаем неизвестные lst_pmnt_date_per_qrtr

In [27]:
train_df['actv_prd_d'].replace(0, train_df['actv_prd_d'].median(), inplace=True)
train_df.loc[train_df['actv_prd_d'] == 0 & train_df['lst_pmnt_date_per_qrtr'].isnull()]

/var/folders/1n/ncv2knx92312c9fjnfycb5k80000gn/T/ipykernel_52218/544055115.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train_df['actv_prd_d'].replace(0, train_df['actv_prd_d'].median(), inplace=True)

Empty DataFrame
Columns: [slctn_nmbr, client_id, npo_account_id, npo_accnts_nmbr, pmnts_type, year, quarter, gender, age, clnt_cprtn_time_d, actv_prd_d, lst_pmnt_rcnc_d, balance, oprtn_sum_per_qrtr, oprtn_sum_per_year, frst_pmnt_date, lst_pmnt_date_per_qrtr, frst_pmnt, lst_pmnt, pmnts_sum, pmnts_nmbr, pmnts_sum_per_qrtr, pmnts_sum_per_year, pmnts_nmbr_per_qrtr, pmnts_nmbr_per_year, incm_sum, incm_per_qrtr, incm_per_year, mgd_accum_period, mgd_payment_period, phone_number, email, lk, assignee_npo, assignee_ops, postal_code, region, citizen, fact_addrss, appl_mrkr, evry_qrtr_pmnt, churn]
Index: []

[0 rows x 42 columns]

## Графики

Берем столбцы по типу данных