In [1]:
import pandas as pd
import numpy as np

# Обработка данных

## Загрузка данных

In [2]:
train_df = pd.read_csv('data/train.csv', delimiter=',')
cntrbtrs = pd.read_csv('data/cntrbtrs.csv', delimiter=';')
trnsctns = pd.read_csv('data/trnsctns.csv', delimiter=';')

In [3]:
from IPython.display import display

display(train_df.head(5))
display(trnsctns.head(5))
display(cntrbtrs.head(5))

,slctn_nmbr,client_id,npo_account_id,npo_accnts_nmbr,pmnts_type,year,quarter,gender,age,clnt_cprtn_time_d,...,lk,assignee_npo,assignee_ops,postal_code,region,citizen,fact_addrss,appl_mrkr,evry_qrtr_pmnt,churn
0,1,0xA095932790098744A2325A8D152C05C7,0xD4DBBAC6561929409BA45725A220613E,1,2,2017,2017Q4,1,48,8091,...,-1,-1,-1,446254.0,САМАРСКАЯ ОБЛ,-1,-1,0,0,0
1,0,0xF75BAA20A603A2479005DEB80464336E,0x3DCFF11974B3D8458CE3569DE9E855D5,2,2,2009,2009Q1,1,35,3303,...,-1,-1,-1,399841.0,ЛИПЕЦКАЯ ОБЛ,-1,1,0,1,0
2,2,0x0D18081E0556AF4F95A931FBA4159D52,0x9DADF88CB3407C4E89403315F640393E,1,1,2010,2010Q1,1,47,1163,...,-1,-1,-1,302038.0,ОРЛОВСКАЯ ОБЛ,1,1,0,1,0
3,0,0x0AD72BC5475D9A4D83E12350A84F839D,0xF59C4E62F115684899EAE9B5D5ECF70F,1,1,2005,2005Q4,-1,42,47,...,-1,-1,-1,620034.0,СВЕРДЛОВСКАЯ ОБЛ,1,1,0,1,0
4,0,0x73DF06339CC25840838408BAD52BE223,0x35BFFA05321C014B9FC29A189E89EDF0,2,2,2007,2007Q4,1,42,876,...,-1,-1,-1,398035.0,ЛИПЕЦКАЯ ОБЛ,1,1,0,1,0

,slctn_nmbr,npo_account_id,npo_sum,npo_oprtn_date,npo_oprtn_grp,quarter,year
0,2,0x555990CC98CCF8469BE5911D37811A4A,57.72,2000-01-02,0,2000Q1,2000
1,2,0x555990CC98CCF8469BE5911D37811A4A,288.61,2000-01-03,0,2000Q1,2000
2,2,0x555990CC98CCF8469BE5911D37811A4A,78.04,2000-01-16,1,2000Q1,2000
3,2,0x555990CC98CCF8469BE5911D37811A4A,78.04,2000-02-15,1,2000Q1,2000
4,2,0x555990CC98CCF8469BE5911D37811A4A,85.36,2000-03-16,1,2000Q1,2000

   slctn_nmbr                        npo_accnt_id  accnt_pnsn_schm
0           2  0x66FC8B311E1E204187F41966B73E313F              0.0
1           2  0x675F74AFB447EF40AF1E4C042CCA440C              0.0
2           2  0x6FFA52921209184BA47B1E919B713894              0.0
3           2  0xB51B4374207FE0458B29FD1F9CBF69EB              1.0
4           2  0x7AC3935CC4DADE419F8378B9C276DEF7              2.0

## Просмотр данных

In [6]:
display(train_df.info())
display(trnsctns.info())
display(cntrbtrs.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3589918 entries, 0 to 3589917
Data columns (total 42 columns):
 #   Column                  Dtype
---  ------                  -----
 0   slctn_nmbr              int64
 1   client_id               object
 2   npo_account_id          object
 3   npo_accnts_nmbr         int64
 4   pmnts_type              int64
 5   year                    int64
 6   quarter                 object
 7   gender                  int64
 8   age                     int64
 9   clnt_cprtn_time_d       int64
 10  actv_prd_d              int64
 11  lst_pmnt_rcnc_d         int64
 12  balance                 float64
 13  oprtn_sum_per_qrtr      float64
 14  oprtn_sum_per_year      float64
 15  frst_pmnt_date          object
 16  lst_pmnt_date_per_qrtr  object
 17  frst_pmnt               float64
 18  lst_pmnt                float64
 19  pmnts_sum               float64
 20  pmnts_nmbr              int64
 21  pmnts_sum_per_qrtr      float64
 22  pmnts_sum_per_year      float64
 23  pmnts_nmbr_per_qrtr     int64
 24  pmnts_nmbr_per_year     int64
 25  incm_sum                float64
 26  incm_per_qrtr           float64
 27  incm_per_year           float64
 28  mgd_accum_period        float64
 29  mgd_payment_period      float64
 30  phone_number            int64
 31  email                   int64
 32  lk                      int64
 33  assignee_npo            int64
 34  assignee_ops            int64
 35  postal_code             float64
 36  region                  object
 37  citizen                 int64
 38  fact_addrss             int64
 39  appl_mrkr               int64
 40  evry_qrtr_pmnt          int64
 41  churn                   int64
dtypes: float64(14), int64(22), object(6)
memory usage: 1.1+ GB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26337901 entries, 0 to 26337900
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   slctn_nmbr      int64
 1   npo_account_id  object
 2   npo_sum         float64
 3   npo_oprtn_date  object
 4   npo_oprtn_grp   int64
 5   quarter         object
 6   year            int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.4+ GB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911470 entries, 0 to 911469
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   slctn_nmbr       911470 non-null  int64
 1   npo_accnt_id     911470 non-null  object
 2   accnt_pnsn_schm  911172 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 20.9+ MB

None

## Удаление пропущенных данных

In [10]:
cntrbtrs.loc[~cntrbtrs['accnt_pnsn_schm'].notna()]

        slctn_nmbr                        npo_accnt_id  accnt_pnsn_schm
48137            2  0x80D2005056AB16F911E6B94244A21118              NaN
98139            2  0x80D2005056AB16F911E6B9427B09F913              NaN
101968           2  0x80D2005056AB16F911E6B94CD47B13FA              NaN
105385           2  0x50F03AE3BFCC3E429C71EAD8F872EE0C              NaN
106835           2  0x80D2005056AB16F911E6B94D433AC86D              NaN
...            ...                                 ...              ...
284667           1  0x521B2264D5D1A34C8237B62B6BCD73C1              NaN
285010           1  0x172D33AE68EA8541B3AF1A2CEEBCC2BD              NaN
285034           1  0x97C4B5F299C4DA4CBB2CDC67BCCDEB82              NaN
285086           1  0x8C3459F0572FB04AA874473FC85E53BC              NaN
845823           3  0x9EC49F255267D87541EF821895789A73              NaN

[298 rows x 3 columns]

In [18]:
cntrbtrs.dropna(inplace=True)

In [19]:
cntrbtrs.loc[~cntrbtrs['accnt_pnsn_schm'].notna()]

Empty DataFrame
Columns: [slctn_nmbr, npo_accnt_id, accnt_pnsn_schm]
Index: []